fastapi
uvicorn[standard]

sqlalchemy
asyncpg
psycopg2-binary
alembic

pydantic
pydantic-settings

python-dotenv

passlib[bcrypt]
python-jose
email-validator

python-multipart
PyMuPDF
python-docx
sentence-transformers
pymilvus
